@import 'src/theme/variables';

app-tree-node {
  display: flex;
  flex-direction: column;
  width: 100%;;
  height: 100%;
  overflow: auto;
  .children {
    display: flex;
    flex-direction: column;
  }
  .form-row {
    padding: $margin;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    label {
      min-width: $labelMinWidth;
    }
    label::after {
      content: ':';
    }
    input {
      margin-left: $margin;
    }
  }
  .form-row:not(:last-child) {
    margin-bottom: $margin;
  }
  input {
    flex: 1;
  }
}
