:host > *:not(:last-child) {
  margin-bottom: 1rem;
}

:host {
  ul {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    li > label {
      flex: .2;
    }
    li > input {
      flex: .8;
    }
    li:not(:last-child) {
      margin-bottom: .2rem;
    }
  }
}

:host {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    section {
      width: 100%;
      flex: 1;
    }
  }
}
